<li>
    <ul class="mt-2 text-sm text-gray-800">

        {% for item in data %}
            <li class="cursor-default select-none px-4 py-2 hover:bg-brandSecondary-600 hover:text-white flex justify-between" id="option-1" role="option" tabindex="-1">
                <a href="{{ item.link | default("#") }}">
                    {{ item.label }}
                </a>
                <a href="{{ item.link | default("#") }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                </a>

            </li>
        {% endfor %}
    </ul>
</li>
