{% extends 'splitview_base.html.twig' %}

{% block title %}Demande de réinitialisation envoyée{% endblock %}

{% block content %}

    <div class="text-center">
        <p class="mt-3 text-gray-500 dark:text-gray-300">Si un compte liée à votre adresse email existe,
            vous allez recevoir un email contenant la méthode pour définir un nouveau mot de passe.</p>

        <p class="mt-3 text-gray-500 dark:text-gray-300">Si vous ne recevez pas d'email, vérifiez votre répertoire "spam" ou
            <a class=" text-brandSecondary-500 hover:underline " href="{{ path('app_forgot_password_request') }}">faites une nouvelle demande</a></p>
    </div>

{% endblock %}
