<div class="p-4">
    <h3 class="text-brandSecondary-500 text-3xl">
        Composant React de demonstration
    </h3>

    <div {{ react_component('HelloWorld') }} class="p-4 flex flex-col justify-center items-center text-2xl">
        <i class="fas fa-cog fa-spin fa-3x"></i>
        <span>Loading...</span>
    </div>

</div>

