{% extends 'partials/modals/dynamic_modal.html.twig' %}

    {% block modalName %}
        demo
    {% endblock %}

{% block content %}


    <div class="p-4">
    <h3 class="text-brandSecondary-500 text-3xl">
        Page de démonstration
    </h3>

    <p class="text-brandThird-300 text-xl">Ceci est une page de démonstration.</p>
</div>
{% endblock %}

{% block bottom_buttons %}

{% endblock %}

