{%  extends 'emails/base.html.twig' %}

{% block content %}
    <row class="header">
        <columns>
            <spacer size="16"></spacer>
            <h1 class="text-center">Welcome!</h1>
        </columns>
    </row>
    <row>
        <columns>
            <p>Ceci est un nouveau texte de miaou et de sanglier sans probleme de cache</p>
        </columns>
    </row>
    <row>
        <columns>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
        </columns>
    </row>
    <row>
        <columns>
            <spacer size="20"></spacer>
            <button href="#" class="expanded">Expanded Button</button>
            <spacer size="20"></spacer>
        </columns>
    </row>
{% endblock %}
