{% extends 'base.html.twig' %}

{% block body %}
<div class="login__background">
    <div class="flex justify-center h-screen">

        {% set bgurl =  'build/images/background_login.jpg' %}
        <div class="hidden bg-cover lg:block lg:w-2/3" style="background-image: url({{ asset(bgurl) }})"></div>

        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
            <div class="flex-1">
                <div class="text-center">
                    <img src="{{ asset('build/images/qizuna.png') }}" alt="{{ application_name }}">
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
