

<a href="{{ url }}"
   class="animated_link group text-base font-medium text-qizunaGray-300 hover:text-gray-800">
    <span class="animated_link_span {{ transition }}">{{ label }} &rarr;</span>
</a>
