<div class="mt-4">
    <div class="relative {{ overlayColor}} pb-32 -mt-8 z-auto">
        <div class="absolute inset-0">
            <img class="h-full w-full object-cover blur-sm"
                 src="{{ imageUrl }}"
                 alt="">
            <div class="absolute inset-0 bg-lightBlue-700 mix-blend-multiply " aria-hidden="true"></div>
        </div>
        <div class="relative mx-auto max-w-7xl py-24 px-6 sm:py-32 lg:px-8"></div>
    </div>
</div>
